{% extends "template.html" %}

{% block content %}
   <form action="{% url 'polls:vote' question.id %}" method="post">
   {% csrf_token %}
   <fieldset>
     <legend><h1>{{ question.question_text }}</h1></legend>
     {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
     {% for choice in question.choice_set.all %}
       {% if choice == selected_choice %}
          <input type="radio" name="choice" id="choice{{ selected_choice.id }}" value="{{ choice.id }}" checked>
       {% else %}
          <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}">
       {% endif %}
        <label for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label><br>
     {% endfor %}
  </fieldset>
  <input type="submit" value="Vote">
  <a href="{% url 'polls:results' question.id %}"><input type="button" value="Result"></a>
  <a href="{% url 'polls:index' %}"><input type="button" value="Back to List of Polls"></a>
  </form>
{% endblock %}